<h2>Tell us more about yourself</h2>

<%= form_for @retina, url: wizard_path do |f| %> 
  <p>
    <%= f.label :cad_stroke, "History of Coronoary Artery Disease/ Stroke" %><br/>
    <%= f.select :cad_stroke, options_for_select([['No', 0], ['Yes', 2]]) %>
  </p>
 <%= f.submit 'Next' %>
<% end %>