<h1>retinas are listed below, click to view</h1>

<ul>
<% 9.times do |i| %>
  <a href="<%= image_path("100retinas/#{i+1}o.jpg") %>"> <%= i+1 %>.retina.image </a> 
  <br>
<% end %>
</ul>

<h2> <a href="<%= root_path %>"> Back to home </a> </h2> 